.site-header{
    padding: 44px 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link{
    display: inline-block;
}

.header__hamburger-menu{
    display: none;
    border: none;
}


@media only screen and (max-width:768px){
    .site-header{
        padding: 40px 0 25px 0;
    }
}

@media only screen and (max-width: 630px){
    .site-header{
        padding: 32px 0 40px 0;
    }

    .header-logo-img{
        width: 163px;
        height: 18px;
    }

    .navbar{
        display: none;
    }

    .header__hamburger-menu{
        display: block;
    }
}   