.hero-wrapper{
    // margin-top: -10px;
    padding: 0 0 100px 85px;        // padding top 17 px 
    background-image: url(../../images/hero-section-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}

.hero{
    width: 493px;
    padding-top: 107px;
}

.hero__title{
    margin: 0;
    margin-bottom: 32px;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.hero__text-wrapper{
    width: 417px;
    margin-bottom: 56px;
}

.hero__text{
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}

.hero__link{
    width: 217px;
    padding: 15px 0 16px;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    background-color: #0E8784;
    color: #FEFCF7;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
}