.navbar__list{
    display: flex;
    align-items: center;
}

.navbar__item{
    &+&{
    margin-left: 33px;
    }
}

.navbar__link{
    color: #83888F;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    transition: color 0.4s linear;
    &:hover{
        color: #000;
    }
}