.our-section{
    margin-top: 80px;
    margin-bottom: 200px;
}

.our{
    padding-top: 127px;
    background-image: url(../../images/our-collection-section-bg-img.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.our__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our__item{
    width: 255px;
    text-align: center;
}

.our__title{
    margin-top: 71px;
    color: #333D4B;
    font-family: "Fraunces", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.our__text{
    margin-top: 24px;
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

@media only screen and (max-width: 1024px){
    .our__list{
        flex-direction: column;
    }
    
    .our__item{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .our__item-content{
        width: 282px;
    }
    
    .our__title{
        margin-top: 0;
    }
    
    .our__text{
        font-size: 15px;
        line-height: 25px; 
    }
}

@media only screen and (max-width: 630px){
    .our-section{
        margin: 120px 0;
        background-image: url(../../images/our-collection-section-mobile-bg-img.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }
    .our__item{
        flex-direction: column;
    }

    .our__item > img{
        width: 200px;
        height: 151px;
    }

    .our__title{
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }
}