
.hero-a{
    padding: 137px 0 137px 85px;
    background-image: url(../../images/about-page-images/hero-section-a-desktop-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    // background-position: top right;
}

.hero-content-a{
    width: 445px;
}

.hero-title-a{
    margin-bottom: 24px;
    color: #FEFCF7;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.hero-text-a{
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}